.category-list-filter {
  margin-top: 20px;
  margin-bottom: 20px;
}
.filters button {
  margin-left: 20px;
}

.filters {
  text-align: right;
}
.condition-filter {
  display: inline-block;
  margin-left: 20px;
}
button.all-filter.btn.btn-secondary.btn-md {
  background: white;
  color: #f44336;
  border-color: #f44336;
}
button.onsale-filter.btn.btn-secondary.btn-md {
  background: #fff;
  color: #6c757d;
}
